#board {
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.tile {
    height: 8px;
    width: 8px;
    border: solid black 1px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.tile:hover {
    background-color: black;
}

