#board {
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    background-color: white;
}
/* 
.tile:hover {
    background-color: black;
    opacity: 2;
    transition: opacity 3s linear;
} */


