#board {
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    /* height: 20px;
    width: 20px; */
    background-color: white;
}

.tile:hover {
    background-color: black;
}

